.h2h {
    width: 400px;
    padding: 1rem;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    background: #fff;
    box-shadow: 0px 3px 10px #0003;
    border-radius: .5rem;
    z-index: 8;
}

.h2h .box__title {
    color: dodgerblue;
    text-align: center;
    padding: 0 ;
    margin: 0 0 10px ;
}

.h2h__item {
    display: grid;
    grid-template-columns: 45% 5% 45%;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0 10px;

    &:hover {
        background: linear-gradient(to right, transparent, #d9d9d9, transparent);
    }
}


.h2h .item__date {
    grid-column: span 3;
    font-size: 13px;
    color: #555;
}


.h2h .item__data {
    display: flex;
    gap: 0 10px;
    align-items: center;
    justify-content: space-between;
}

.h2h .item__data.reverse {
    flex-direction: row-reverse;
}

.h2h .item__data {
    color: #444;
}


.h2h .item__data-name  {
    display: flex;
    align-items: center;
    gap: 5px;
}
.h2h .item__data-name img {
    width: 25px;
}