.h2h {
    width: 400px;
    padding: 1rem;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    background: #fff;
    box-shadow: 0px 3px 10px #0003;
    border-radius: .5rem;
    cursor: default;
    z-index: 8;
}

.h2h .box__title {
    color: dodgerblue;
    text-align: center;
    padding: 0;
    margin: 0 0 10px;
}

.h2h__item {
    margin: 5px 0 10px;
    display: grid;
    grid-template-columns: 45% 5% 45%;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &:hover {
        background: linear-gradient(to right, transparent, #eee, transparent);
    }
}

.h2h .item__date {
    grid-column: span 3;
    font-size: 13px;
    color: #555;
}

.h2h .item__data {
    display: flex;
    gap: 0 10px;
    align-items: center;
    justify-content: space-between;
}

.h2h .item__data.reverse {
    flex-direction: row-reverse;
}

.h2h .item__data {
    color: #444;
}

.h2h .item__data-name {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #1e90ff;

}

.h2h .item__data-name img {
    width: 25px;
}


.h2h .item__data-status {
    grid-column: span 3;
    display: flex;
    gap: 10px;
    /* justify-content: space-between; */
}

.h2h .item__data-status-row {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    color: #444;
    margin: 0 0 5px;

    & span {
        white-space: nowrap;
        overflow: hidden;
    }
}

.h2h .item__data-status-row-value {
    color: #fdfdfd;
    font-weight: 500;
    padding: .25rem;
    border-radius: .25rem;
}

.box__btn-close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #e66a6a;
    transition: .3s;

    &:hover {
        opacity: .7;
    }
}

.box__btn-back {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #aaa;
    transition: .3s;

    &:hover {
        opacity: .7;
    }
}


/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {
    .h2h {
        width: 105%;
    }
}