.player {
    padding: .5rem;
    position: relative;
    display: flex;
    gap: 1rem;
    align-items: center;
    border-bottom: 1px solid #dedede;
    transition: 300ms;
    cursor: pointer;

    &:hover {
        background: linear-gradient(to right, transparent, #eee, transparent);
    }
}

.player img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.player__name {
    width: 150px;
    color: #555;
    font-weight: 500;
}

.player__data {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 0 auto;
}

.player__data-average {
    background: #cc4b4b;
    background: #71cc56;
    background: #d8ca51;
    background: #4598eb;
    color: #fdfdfd;
    padding: .25rem;
    display: block;
    border-radius: .25rem;
    font-weight: 500;
    font-size: 16px;
}

.player__data-label {
    font-size: 14px;
    color: #777;
}

.pos.F {
    color: #e73b3b;
    font-weight: 700;
}

.pos.M {
    color: #46c252;
    font-weight: 700;
}

.pos.D {
    color: #7a84ff;
    font-weight: 700;
}

.pos.G {
    color: #e8b345;
    font-weight: 700;
}

.pos.C {
    color: #46c252;
    font-weight: 700;
}

.pos.FG {
    color: #9f46c2;
    font-weight: 700;
}

.pos.GF {
    color: #46c2c2;
    font-weight: 700;
}

.pos.FC {
    color: #ec448a;
    font-weight: 700;
}

.player__details {
    width: 200px;
    position: absolute;
    top: 90%;
    right: 0;
    background: #fdfdfd;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: .5rem;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 8px 2px #0003;
    padding: 1rem;
    z-index: 9;
    opacity: 0;
    transform: scale(.5);
    animation: showPlayerDetails .3s ease both;
    color: #333;
}

@keyframes showPlayerDetails {
    50% {
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.player__btn-details {
    background: none;
    border: none;
    color: #4598eb;
    font-size: 16px;
    cursor: pointer;

    &:hover {
        opacity: .7;
    }

    &:active {
        color: #777;
    }
}



/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {

    .player__name {
        width: 95px;
    }

}