* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: #14161d;
  padding: 2rem 2rem;
}

#root {
  min-height: 100vh;
  padding: 0 0 80px ;
}

.item {
  width: 80%;
  margin: 0 auto ;
  padding: 2rem ;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 50px;
  background: #20232e;
  border-radius: .5rem;
  box-shadow: 3px 3px 5px #0003;
}

.item h3 {
  margin: 0 0 2rem;
  font-weight: 500;
  font-size: 24px;
  color: #fdfdfd;
}

.type {
  grid-column: span 2;
  width: 50%;
  margin: 0 auto;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

li {
  padding: .5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid #333;
  transition: 300ms;
  cursor: pointer;

  &:hover {
    background: #282b38;
  }
}

li img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

li p {
  width: 150px;
  color: #fdfdfd;
  font-weight: 500;
}

li .data {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #777;
  margin: 0 0 0 auto;
}

li .note {
  background: #cc4b4b;
  background: #71cc56;
  background: #d8ca51;
  background: #64a5e5;
  color: #111;
  padding: .25rem;
  display: block;

  border-radius: .25rem;
  font-weight: 500;
  font-size: 16px;
}

.F {
  color: #e73b3b;
  font-weight: 700;
}

.M {
  color: #46c252;
  font-weight: 700;
}

.D {
  color: #7a84ff;
  font-weight: 700;
}

.G {
  color: #e8b345;
  font-weight: 700;
}


select {
  background: none;
  padding: .25rem;
  border-radius: .25rem;
  font-size: 16px;
  color: #fdfdfd;
  font-weight: 500;
  outline: none;
  border: 1px solid #444;
  cursor: pointer;
  margin: 0 0 20px;
}

option {
  background: #282b38;
}

/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 1365px) {
  .item {
    width: 100%;
  }
}

/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {
  body {
    padding: 0;
  }

  .item {
    grid-template-columns: 1fr;
    gap: 20px 0;
    padding: 1rem;
  }

  ul:nth-of-type(2) {
    display: none;
  }

  li p {
    width: 95px;
  }

}