* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #edf1f6;
  /* padding: 0 2rem 2rem 2rem; */
}

#root {
  min-height: 100vh;
  padding: 0;
}

.item {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  position: relative;
  top: -100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 50px;
  background: #fdfdfd;
  border-radius: .5rem;
  border: none;
  box-shadow: 0 1px 8px 1px #0001;
}

.item .group__btn {
  grid-column: span 2;
  margin: 20px auto 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px 50px;
}

.item .group__btn button {
  background: none;
  border: none;
  font-size: 20px;
  font-weight: 500;
  color: #7f97ab;
  cursor: pointer;
  transition: .3s;
  width: 150px;
  border: 1px solid #eee;
  border-radius: .5rem;
  padding: .5rem;

  &:hover {
    background: #eee;
  }

}

.item h3 {
  margin: 0 0 2rem;
  font-weight: 500;
  font-size: 24px;
  color: #fdfdfd;
}

.type {
  grid-column: span 2;
  width: 50%;
  margin: 0 auto;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

select {
  padding: .75rem;
  margin: 0 0 20px;
  font-size: 20px;
  color: rgb(46, 127, 207);
  font-weight: 500;
  background: #fdfdfd;
  border: none;
  border-bottom: 1px solid #9cceff;
  outline: none;
  cursor: pointer;
}

option {
  background: #fdfdfd;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #777;
}

optgroup {
  background: #eee;
  font-size: 16px;
  color: #777;
}

.matches {
  grid-column: span 2;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.matches__card {
  width: 300px;
  padding: 1.5rem 10px;
  border: 1px solid #eee;
  border-radius: .5rem;
  text-align: center;
  box-shadow: 0 0 5px #0001;
  transition: .3s;
  cursor: pointer;

  &:hover {
    border-color: rgb(138, 189, 240);
  }
}

.matches__card h3 {
  color: #333;
  font-size: 20px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 20px 0 0;
}

.matches__card h3 img {
  width: 30px;
}

.matches__card span {
  color: #888;
  font-size: 14px;
  margin: 5px;
  display: block;
}

.homeAway {
  grid-column: span 2;
  margin: 0 auto;
  display: none;
  gap: 15px;
  align-items: center;
  cursor: pointer;
}

.homeAway span {
  display: block;
  font-size: 20px;
  font-weight: 500;
  width: 40px;
  text-align: center;
  color: #777;
}

.range {
  width: 50px;
  height: 23px;
  border: 1px solid #eee;
  border-radius: 10px;
  background: rgb(193, 221, 250);
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 5px #0001;
}

.range.away {
  background: #f3adad;
}

.range .position {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 60%;
  background: dodgerblue;
  border-radius: 50%;
  transition: .3s ease-out;
}

.position.away {
  right: 0;
  background: #e94646;
}

/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 1365px) {
  .item {
    width: 100%;
  }
}

/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {
  body {
    padding: 0;
  }

  .item {
    grid-template-columns: 1fr;
    gap: 20px 0;
    padding: 1rem;
  }

  ul:nth-of-type(2) {
    display: none;
  }

  .type {
    width: 100%;
  }

  .homeAway {
    display: flex;
  }
}