* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: #14161d;
  padding: 2rem 2rem;
}

#root {
  min-height: 100vh;
  padding: 0 0 80px;
}

.item {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 50px;
  background: #20232e;
  border-radius: .5rem;
  box-shadow: 3px 3px 5px #0003;
}

.item .group__btn {
  grid-column: span 2;
  margin: 0 auto;
  display: flex;
  gap: 50px;
}

.item .group__btn button {
  background: none;
  border: none;
  font-size: 16px;
  color: #7f97ab;
  cursor: pointer;
  transition: .3s;

  &:hover {
    opacity: .7;
  }

}

.item h3 {
  margin: 0 0 2rem;
  font-weight: 500;
  font-size: 24px;
  color: #fdfdfd;
}

.type {
  grid-column: span 2;
  width: 50%;
  margin: 0 auto;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

select {
  background: none;
  padding: .25rem;
  border-radius: .25rem;
  font-size: 16px;
  color: #fdfdfd;
  font-weight: 500;
  outline: none;
  border: 1px solid #444;
  cursor: pointer;
  margin: 0 0 20px;
}

option {
  background: #282b38;
}

/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 1365px) {
  .item {
    width: 100%;
  }
}

/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {
  body {
    padding: 0;
  }

  .item {
    grid-template-columns: 1fr;
    gap: 20px 0;
    padding: 1rem;
  }

  ul:nth-of-type(2) {
    display: none;
  }
}